<h1 mat-dialog-title>Add Products</h1>
<div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Product Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Categories</mat-label>
        <mat-select placeholder="Product Category">
            <mat-option value="">Fruits</mat-option>
            <mat-option value="">Vegetables</mat-option>
            <mat-option value="">Electronics</mat-option>
        </mat-select>
    </mat-form-field>
</div>